@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

@font-face {
  font-family: 'zelda';
  src: url('./assets/Triforce.ttf') format('truetype')
}

@font-face {
  font-family: 'cabin';
  src: url('./assets/Cabin-VariableFont_wdth,wght.ttf') format('truetype')
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.seccion-de-personajes{
  width: 379px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(96, 95, 95, 0.5);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seleccionar-mascota {  
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen-titulo{
  width: 90px;
  margin: 5px;
}

.titulo {
  color: rgb(17, 10, 6);
  font-size: 32px;
  letter-spacing: 4px;
  font-family: 'zelda';
  text-align: center;
}

.fondo-titulo{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffeda;
  width: 441px;
}

.subtitulo {
  color: #fffeda;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: 'zelda';
}

.tarjetas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; 
  column-gap: 20px;
  row-gap: 25px;
}

.tarjetas-ataques{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tarjeta-de-mokepon {
  margin-top: 12px;
  width: 120px;
  height: 100px;
  background: #fffeda;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #201b19; 
}

.tarjeta-de-mokepon:hover {
  cursor: pointer;
  border: 2px solid #e3e2c4;
  transition: all 0.2s ease;
}

.tarjeta-de-mokepon img {
  width: 100px;
  margin: -20px;
  transition: all 0.2s ease;
}

.tarjeta-de-mokepon img:hover {
  width: 110px;
  margin: -20px;
  transition: all 0.2s ease;
}

input:checked + label {
  background-color: #f9f7c5;
}


#boton-mascota {
  transition: all 0.2s ease;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: rgba(17, 10, 6, 0.8);
  border: 2px solid rgba(17, 10, 6, 0.5); 
  color: #f4f2cf;
  font-family:Verdana;
  font-style: italic;
  margin-top: 30px;
}

#boton-mascota:hover {
  transition: all 0.2s ease;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: rgba(17, 10, 6, 0.8);
  border: 3px solid rgb(251, 205, 113);
  color: #f4f2cf;
  font-family:Verdana;
  font-style: italic;
  margin-top: 30px;
  cursor: pointer;
}

input {
  display: none;
}

.seccion-de-combate{
  width: 379px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(96, 95, 95, 0.5);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1.5px solid #5d5d5e;
    padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  width: auto;
  color: #fffde3;
  font-family: 'Poppins', sans-serif;
}

#mensajes {
  width: 350px;
  background: rgba(0, 0, 0, 0.7);
  color: #fffde3;
  font-family: 'Cabin';
  padding: 20px;
  margin-top: 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  font-family: 'cabin';
}

#boton-reiniciar {
  border: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  background: transparent;
  color: #fffde3;
}

#boton-reiniciar:hover{
  transition: all 0.3s ease;
  border-radius: 5px;
  border: 2px solid #fffde3;
  background: transparent;
  color: #fffde3;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: #fffde3;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 360px) {
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
}